<%- include("partials/header"); -%>


<div class="container">
    <div class="row col-lg-12 custyle">
    <table class="table table-striped custab">
    <thead>
    
   
        <tr>
            <th>Sender</th>
            <th>Receiver</th>
            <th class="text-center">Amount of transection</th>
            
        </tr>
    </thead>
   
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-center"></td>
    </tr>

           
            
    </table>
    </div>
</div>

<%- include("partials/footer"); -%>