<%- include("partials/header"); -%>


<section id="section1">
    <div class="imageClass">
        <img  class="slideImage"src="/images/etienne-martin-2_K82gx9Uk8-unsplash.jpg" alt="">
        <div class="msg-slider">
            <div id="slider">
                
                <div class="msg-col">
                    <h1>BANKING SOLUTION </h1>
                    <p>This is  Global Business bank which is under business and finance category for your website design</p>
                    <a href="/users"> learn More</a>
                </div>
                <div class="msg-col">
                    <h1>CREATE USER </h1>
                    <p>Create A new user for transfering money.</p>
                    <a href="/newUser"> learn More</a>
                </div>

                <div class="msg-col">
                    <h1>FINANCE SOLUTION</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <a href="#"> learn More</a>
                </div>
            </div>
        </div>

        <div class="controller">
            <div id="line1"></div>
            <div id="line2"></div>
            <div id="line3"></div>
            <div id="active"></div>
        </div>
    </div>
</section>
<section>

</section>

<%- include("partials/footer"); -%>