<%- include("partials/header"); -%>


<section id="section1">
    <div class="imageClass">
        <img  class="slideImage"src="/images/etienne-martin-2_K82gx9Uk8-unsplash.jpg" alt="">
        <div class="msg-slider">
            <div id="slider">
                
                <div class="msg-col">
                    <h1>ACCOUNT MANAGEMENT </h1>
                    <p>All Accountant's details are displayed clearly in one place.</p>
                    <a href="/users"> learn More</a>
                </div>
                <div class="msg-col">
                    <h1>CREATE USER </h1>
                    <p>Create A new user for money transaction and get started with the bank account.</p>
                    <a href="/newUser"> learn More</a>
                </div>

                <div class="msg-col">
                    <h1>FINANCE SOLUTION</h1>
                    <p>View all the relavent details about transactions.</p>
                    <a href="/history"> learn More</a>
                </div>
            </div>
        </div>

        <div class="controller">
            <div id="line1"></div>
            <div id="line2"></div>
            <div id="line3"></div>
            <div id="active"></div>
        </div>
    </div>
</section>

    <footer>
        <p>Made by Harbansi Darji</p>
        <p>Sparks Foundation</p>
    </footer>

<%- include("partials/footer"); -%>