<%- include("partials/header"); -%>

    <div class=" container ">
        <div class="card">
            <div class="card-header">
                <center>
                    <h1><em>ADD NEW USER</em>
                        <span class="span2"></span>
                    </h1>
                </center>
            </div>
            <div class="card-body">

                <form class="" action="/newUser" method="POST">
                    <div class=" row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="labels" for="name">Name<span style="color: red;">*</span>:</label>
                                <input type="text" name ="name" class="form-control" required>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="labels" for="email">Email ID<span style="color: red;">*</span>:</label>
                                <input type="text" name="email" class="form-control" required>
                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="labels" for="current_balance">Current Balance<span
                                        style="color: red;">*</span>:</label>
                                <input type="number" name="current_balance" class="form-control" required>
                            </div>
                        </div>

                        <div class="container-fluid  justify-content-center">
                            <button type="submit" class="btn main-button1">Add User</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>


    <%- include("partials/footer"); -%>